div {
}

div.first {
    opacity: 0.1;
}

div.second {
    opacity: 0.3;
}

div.third {
    opacity: 0.6;
}

div.lfont {
  font-size: large;
}


div.xlfont {
  font-size: xx-large;
}

mark {
  background-color: yellow;
  color: black;
}